:root {
  font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  /* background-color: hsl(0, 0%, 80%); */
  background-image: url('./assets/background.png'); /* Relative path */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the image */

}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  position: relative;
  left:0;
  top:0;
  width:80%;
  margin: auto;  
}

.header-title {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.header-nav {
  display: flex;
  font-weight: bold;
}

.header-nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  border-radius: 1rem;
}

.header-nav-link:hover {
  background-color: hsla(0, 0%, 95%, 0.4);
  cursor: pointer;
}

.home-paragraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 3rem 0;
}

.home-paragraph-title {
  font-size: 2rem;
  font-weight: 300;
}

.home-paragraph-content {
  font-size: 1.2rem;
}