:root {
  font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  /* background-color: hsl(0, 0%, 80%); */
  font-weight: 300;
}
