:root {
  /* font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
  font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  /* background-color: hsl(0, 0%, 80%); */
  font-weight: 300;
  tab-size: 4;
  font-variation-settings:normal;
  letter-spacing: -.025em;
}
