:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: hsl(0, 0%, 80%); */
}

.task-panel{
  background-color: hsl(0, 0%, 98%);
  padding:1rem;
  border-radius: 1rem;
  width: 95%;
  margin: auto;
}

.task-card{
  padding:1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  width: 15em;
  background-color: hsl(0, 0%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0px 0px 7px hsl(0, 0%, 80%);
}

.tasks-space {
  padding: 1rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.grey-space{
  padding: 0.5rem;
  display: block;
  background-color: hsl(0, 0%, 90%);
  border-radius: 1rem;
}

.login-container {
  padding: 2rem;
  display: inline-flex;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0px 0px 7px hsl(0, 0%, 80%);
  margin: 3rem auto;
}

.center {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: auto;
  color: hsl(0, 0%, 50%);
}

.my-input {
  height: 2rem;
  font-size: 1.3rem;
  color: hsl(0, 0%, 70%);
}

.my-button {
  height: 2rem;
  margin: 1rem;
}

.page {
  display: flex;
}

.error {
  color:hsl(0, 100%, 70%);
}

.success{
  color: hsl(101, 100%, 70%);
}