.register-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.register-form {
    margin-top: 1rem;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    text-align: center;
}

.headline1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.headline2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.register-input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
    box-sizing: border-box;
}

.blue {
    background-color: hsla(206,96%,80%, 1);
    color: #fff;
    width: 100%;
}

.blue:hover {
    background-color: hsla(206,96%,70%, 1);
}

.green {
    background-color:#ccc;

    width: 100%;
}

.green:hover {
    background-color: rgb(13, 184, 13);
}

.green, .blue {
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    border-radius: 0.4rem;
    transition: all 0.3s;
    border: none;
}

.invalid {
    background-color: hsl(0, 100%, 76%);
    border: 1px solid hsl(0, 100%, 68%);
}

.divider {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}